/* public style 
-----------------------------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ color: #000; margin:0; padding:0; font-size:12px; font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti; }
ol,ul {list-style:none; } 
a{ color:#000; text-decoration:none; outline: none;}
a:hover{ text-decoration:underline; }
h1,h2,h3,h4,h5,h6,p {font-size:100%; word-wrap:break-word; }
.mc{ margin:0 auto; }
table {border-collapse:collapse;border-spacing:0; }
.clearfix:after { content: "."; display: block; height:0; clear: both; visibility: visible; font-size:0;}
.clearfix{zoom:1;}
.clear{clear:both; height:0; line-height:0; font-size:0; }
.opacity{  opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80);}
img { border: none;}
/*index style
-----------------------------------------------------------------------------------------*/
body { background: #fff;}
.head { background: url(../images/logo.jpg) 0 10px no-repeat; height:75px; }
.head a { display: block; padding-left: 80px; padding-top: 32px; font-size: 22px; color: #bfce92; letter-spacing: 10px;}
.head a:hover { text-decoration: none;}
.nav { height: 42px; border-radius: 5px; background: #a9bd6d; overflow: hidden;}
.nav a { float: left; height: 42px; color: #fff; font-size: 18px; line-height: 42px;   width: 195px; text-align: center;}
.nav a.cur { background: #899e4a;}
.nav a:hover {background: #899e4a; text-decoration: none;}
.wrap { margin: 0 auto; width: 1170px;}
.content { }
.banner {width: 1170px;height: 768px; overflow: hidden; position: relative;}
.banner ul li { float: left; display: none; width: 1170px; height: 768px;}
.banner img { display: block; width: 1170px; height: 768px;}
.query { position:absolute; bottom: 40px; left: 50%; margin-left: -65px;}
.query span { float: left; width: 16px; height: 16px; border-radius: 8px; background: #eee; margin-right: 10px; text-indent: -9999px; cursor: pointer;}
.query span.cur { background:#f30; }
.description { padding: 30px 0; text-align: center;}
.description b { font-size: 20px; color: #000;}
.description { font-size: 12px; color: #72706d; line-height: 24px;}
.img_zone { padding-left: 12px;}
.img_zone img { float: left; width: 278px; height: 278px; margin-right: 11px;}
.more { padding: 10px 20px; border: 1px dashed #dfdfd0; border-radius: 4px; color: #7f7f43; font-size: 16px; margin: 20px auto; width: 160px;}
.bottom { background: #f4f4f4; height: 94px; padding-left:30px;}
.bottom ul { background: url(../images/connect.jpg) no-repeat; height: 94px;}
.bottom li { float: left; width: 285px; padding-top: 20px;}
.bottom p { text-align: center; font-size: 16px; color: #757575; line-height: 26px; padding-left: 10px;}
.bottom .pad1 { padding-left: 70px;}
.bottom .pad2 { padding-left: 100px;}
.bottom .pad3 { padding-left: 120px;}
.bottom .pad3 a { color:#757575; }
.bottom .pad3 a:hover { text-decoration: none; color:#333; }
.bottom p span { font-size: 12px;}
.footer p { padding:20px 0; text-align: center; font-size:18px; color: #757575;}

.brand p {width: 1167px; color: #999; text-align: center; background: #fbfaf8; padding: 20px 0; font-size: 14px; line-height: 24px;}
.brand img { display: block;}
.b_des { background: url(../images/brand4.jpg) no-repeat top center; padding-top: 550px; margin: 100px 0 0;}
.b_des p,.team p {color: #999;font-size: 14px; line-height: 24px; text-indent: 2em; width: 880px; margin: 0 auto; padding: 10px 0 0;}
.b_des p.spe { text-indent: 0; text-align: center; line-height: 16px;}
.team {background: url(../images/brand5.jpg) no-repeat top center; padding-top: 590px; margin: 10px 0 30px;}
.connect { background: #fbfaf8; padding: 30px 0; margin-bottom:30px; }
.connect h3 { font-size: 30px; color: #747373; text-align: center; letter-spacing: 5px; padding-bottom: 20px;}
.way { background: url(../images/lianxi.jpg) no-repeat center top; padding-top:0px; width: 990px; margin: 0 auto;}
.way_kind { background: url(../images/ding.png) 100px 190px no-repeat; text-indent: 2em;
line-height: 36px; font-size: 18px; color: #676767; float: left; width: 230px; padding-left: 100px; padding-top:190px; position:relative;}
.qq_icon {position:absolute; top:0; left:10px; background: url(../images/lianxi.jpg) no-repeat -330px 0; width:230px; height:190px; }
.qq_icon:hover { background-position:-330px -5px;}
.way_kind a:hover { text-decoration: none; color:#333; }
.way_kind a { color:#676767; }
.buy_this { height: 738px; background: url(../images/buy_bg.jpg) no-repeat center top; }
.buy_wrap { position: relative; height: 738px;}
.buy {position: absolute; bottom: 90px; right: 140px; }
.buy p {font-size: 16px; color: #666;}
.buy p span { font-size: 22px; color: #79b51a;}
.now_buy {display: block; background: #ef8f00; color: #fff; font-size: 16px;
padding: 12px 30px; border-radius: 5px; margin-top: 5px;}
.now_buy:hover { text-decoration: none;}
.sbg {background: #fbfaf9;}
.safe { background: url(../images/safe.jpg) no-repeat center top; padding-top: 300px;}
.safe h3 { text-align: center; font-size: 30px; font-weight: normal; color: #999;}
.safe p { padding: 40px 0 40px 250px; color: #666; line-height: 30px; font-size: 16px;}
.story1 { background: url(../images/story1.jpg) no-repeat center top; height:854px; }
.story2 { background: url(../images/story2.jpg) no-repeat center top; height:855px; }
.story3 { background: url(../images/story3.jpg) no-repeat center top; height:848px; }
.story4 { background: url(../images/story4.jpg) no-repeat center top; height:846px; }
.story5 { background: url(../images/story5.jpg) no-repeat 263px 0; height:662px; }
.story6 { background: url(../images/story6.jpg) no-repeat center top; height:483px; }
.quanwei { font-size: 36px; font-weight: normal; padding: 30px; text-align: center;}
.renzheng { text-align: center; color: #666; font-size: 16px; line-height: 30px; padding-bottom: 30px;}
.jxs_wrap { padding: 50px;}
.jxs { background: url(../images/jxs.jpg) center top no-repeat; height: 210px; padding: 402px 0 0 120px; width: 505px; margin: 0 auto;}
.jxs_input {}
.jxs_search { width: 268px; padding: 8px 10px; line-height: 32px; font-size: 16px; color: #666; border: none; background: none; outline: none; float: left; margin-right: 20px;}
.jxs_submit { width: 84px; height: 50px; float: left; cursor: pointer; background: none; border: none;} 
.fangwei {background: url(../images/chaxun.jpg) no-repeat; height: 725px; padding: 35px 0 0 460px;}
.fw_wrap { background: #e5ebd3; width: 515px; border-radius: 10px; padding: 70px 50px;}
.fw_bg { background: url(../images/search.jpg) no-repeat; width: 409px; height: 58px; padding: 10px 0 0 13px;}
.fw_input { width: 270px; height: 32px; padding: 8px 10px; float: left;
 outline: none; border: none; background: none; font-size: 14px; line-height: 32px; margin-right: 24px;}
 .fw_submit { width:80px; height: 46px; float: left; border: none; background: none; cursor: pointer;  }
 .fw_des { padding:50px 0; line-height: 30px; font-size:20px; font-weight: bold; color: #80876b;}
 .fw_shuoming { border-bottom: 4px dashed #b2b99f; padding-bottom: 20px;}
 .fw_shuoming p { font-size: 20px; color: #99a085; line-height: 32px; padding: 5px 0;}
 .buy_head { background: url(../images/logo.jpg) center top no-repeat; padding: 60px 0 20px 10px; text-align: center; font-size: 22px; color: #bfce92; letter-spacing: 10px; margin-top: 20px; }
 .lan { padding-left: 50px; font-size: 18px; color: #fff; line-height:42px;letter-spacing: 4px; }
 .title_dan { font-size: 16px; line-height: 50px; height: 50px;}
 .tpad1 { padding-left:125px; }
 .tpad2 { padding-left:260px; }
 .tpad3 { padding-left:220px; }
 .tpad4 { padding-left:325px; }
 .order_wrap { border-radius: 10px; border: 1px solid #d8d8d8; padding: 20px 5px; margin:0 0 30px;}
 .order_first { border-bottom:1px solid #d8d8d8; padding-bottom: 30px; }
 .product { float: left; padding-left: 30px; }
 .product img { float: left; padding-right: 20px;}
 .product p { font-weight: bold; font-size: 18px; line-height: 36px; text-align: center; width: 180px; float: left; color: #8d8e90; padding-top: 20px;}
 .product p span { font-size: 12px; font-weight: normal; color: #67696c;}
 .price {float: left; padding-top: 40px; color:#67696c; padding-left: 60px; }
 .num {float: left; padding-top: 38px; padding-left: 135px;}
 .minus,.add { height: 20px; width: 20px;border: 1px solid #d8d8d8; border-radius: 10px; float: left; text-align: center; line-height: 18px; font-size: 20px; color: #666;  margin-right: 10px; cursor:pointer; }
 .pro_number {height: 20px; width: 120px;border: 1px solid #d8d8d8; border-radius: 5px; float: left; text-align: center; line-height: 18px; font-size: 16px; color: #666; margin-right: 10px; outline: none;}
 .add {}
 .calculate {float: left; padding-top: 40px; color:#67696c; padding-left: 225px; }
 .account { padding: 20px 5px;border-bottom:1px solid #d8d8d8;}
 .discount { float: left;}
 .slidedown { height: 20px; width: 20px; border: 1px solid #d8d8d8; border-radius: 2px; text-align: center; line-height: 18px; font-size: 20px; color: #666; cursor: pointer;float: left;}
 .dis_cont { width: 250px; border: 1px solid #d8d8d8; border-radius: 4px; text-align: center; line-height: 30px; font-size: 14px; color: #666; cursor: pointer; margin: 5px 0 0 20px;}
 .dis_cont span { color: red;}
 .youhui { float: left; font-size: 16px; padding-left: 15px; color: #666;}
 .last_price { float: right;padding-right: 30px; }
 .je { color:#555; font-size: 14px; line-height: 30px;}
 .je .green { color:#659e18; padding-left: 15px; }
 .big_font { font-size: 20px;}
 .user { padding: 10px 5px;border-bottom:1px solid #d8d8d8;}
 .gbt { font-size: 16px; color: #659e18; line-height: 30px; height: 30px;}
 .beizhu { padding-top: 10px;}
 .beizhu span { float: left; font-size: 16px;color: #666;}
 .beizhu textarea { float: left; width: 400px; height: 120px; border-radius: 5px; resize:none; color: #666;padding:5px 10px; line-height: 20px; outline: none;}
 .address_wrap { padding-left: 80px;}
 .address_wrap span { color: red;}
 .address_wrap label { width: 80px; text-align: right; float: left; height: 36px; line-height: 36px;}
 .line { padding: 10px;}
 .fillin { height: 30px; border: 1px solid #d8d8d8; border-radius: 4px; width: 350px; padding: 2px 5px; line-height: 30px; color: #666; outline: none; float: left;}
 .diqu {width: 80px; text-align: right; float: left;} 
 .confirm_form { background: url(../images/tijiao.png) no-repeat; width: 99px; height: 35px; text-align: center; line-height: 32px; color: #fff; font-size: 16px; cursor: pointer; float: right; margin: 20px;}
 .confirm_wrap { border-radius: 10px; overflow: hidden; border: 1px solid #d8d8d8; margin:30px 0;}
 .tj_bt { background: #f7f7f7; height:34px; line-height: 34px; font-size: 16px; padding-left: 30px; color: #659e18;  } 
 .confirm_wrap table { width: 100%; margin: 20px;}
 .confirm_wrap td,.confirm_wrap th { height: 40px;  text-align:center;}
 .address_again { padding: 20px 50px;}
 .address_again p { height: 30px; line-height: 30px; color: #666;}
 .address_again span { padding-right: 30px; color: #333; font-weight: bold;}
 .pay_some { width: 1000px;border: 1px solid #d8d8d8; border-radius: 5px; height: 100px; overflow: hidden; margin: 20px auto 0;}
 .pay_title { float: left; width: 200px; background: #f6f7fb; height:80px; padding: 20px 0 0 20px; font-size: 16px;}
 .pay_title span { color: #666; font-size: 14px;}
 .select { padding: 28px 0 0 30px; float: left;}
 .select input { float: left; margin-top: 15px;}
 .zfb { width: 100px; height:40px; text-align: center;  border: 1px solid #d8d8d8;  float: left; margin:0 30px 0 10px; line-height: 40px; vertical-align: middle; color: #012796; font-size: 18px;}
 .dingdan_wrap { background: url(../images/kuan.jpg) no-repeat top center; margin: 20px auto; width: 500px; min-height: 200px; padding: 90px 0 0 430px;}
 .dingdan_bg2 {background: url(../images/dingdan.jpg) no-repeat top center;}
 .dingdan_wrap p { line-height: 24px; color: #333; font-size: 14px;}
 .backtop { position:fixed; bottom:50px; left:50%; margin-left:600px; background:url(../images/backtop.png) no-repeat; width:60px; height:56px; }